  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-decoration: none; */
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1188f0;
    padding: 15px 30px;
  }
  
  
  logo img {
    height: 10px;
    width: 10px; 
    display: block;
  }
  
  .navbar {
    flex: 1; 
    display: flex;
    justify-content: center; 
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
 
  .hero {
    background: url('images/8970.jpg') no-repeat center center/cover;
    color: white;
    padding: 150px 20px;
    text-align: center;
    position: relative;
    position: relative;
    z-index: 2;
    max-width: 1500px;
    max-height: 1000px;
    margin: 0 auto;
  }

   h1 {
    font-size: 60px;
    font-family: poppins;
    margin-bottom: 20px;
  }
  
   p {
    font-size: 20px;
    font-family: poppins;
    margin-bottom: 30px;
  }
  
   .btn {
    background-color: #1188f0;
    color: #ffffff;
    padding: 14px 28px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-family: poppins;
    stroke: none;
  }

  /* .first {
    margin-top: 70px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 60px 40px;
    flex-wrap: wrap; 
  } */

  h2 {
    color: #1188f0;
    text-decoration: none;
    font-weight: bold;
    font-family: poppins;
    margin-bottom: 20px;
  }
  .first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 7rem;
  }

  .bright h2 {
    font-size: 2rem;
    color: #1188f0;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .bright .firstp {
    line-height: 24px;
    margin-bottom: 1rem;
  }
  .firstb {
    background-color: #1188f0;
    outline: none;
    border: none;
    padding: 14px 40px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 8px;
  }

  .first .image{
    width: 600px;
    height: 500px;
  }
  .first .image img{
    width: 100%;
  }

  .btn2 {
    background-color: #1188f0;
    color: #ffffff;
    padding: 14px 28px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-family: poppins;
    stroke: none;
    outline: none;
    border: none;
  }

  .second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 7rem;
  }
  .second .vegies {
    width: 600px;
    height: 500px;
  }

  .second .vegies img{
    width: 100%;
  }

  .about .aboutus{
    background: url(images/footerbg.jpg) no-repeat center center /cover;
    padding: 150px 20px;
    text-align: center;
    position: relative;
    position: relative;
    z-index: 2;
    max-width: 1500px;
    max-height: 1000px;
    margin: 0 auto;
  }
  .aboutus .join{
    background-color: #1188f0;
    color: #ffffff;
    padding: 14px 28px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-family: poppins;
    stroke: none;
    outline: none;
    border: none;
  }

  .footer-section{
    display: flex;
    justify-content: space-between;
  }
 